html,
body,
div,
p {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	/*background-color: #000;*/
	color: #eeeeee;
}
#site-header {
	height: 4rem;
	background-color: #eeeeee;
	width: 100%;
	color: #663399;
	z-index: 99999;
	box-shadow: 0px 0px 3px #eeeeee;
}
#brand {
	line-height: 4rem;
	margin: 0;
	padding: 0 0.725rem;
	font-size: 1.6rem;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: uppercase;
	border-right: 1px solid #663399;
	display: inline-block;
	-webkit-transition: text-shadow 0.5s ease-in 0s;
	-moz-transition: text-shadow 0.5s ease-in 0s;
	-o-transition: text-shadow 0.5s ease-in 0s;
	-ms-transition: text-shadow 0.5s ease-in 0s;
	transition: text-shadow 0.5s ease-in 0s; 
}
#brand:hover,
#brand:focus {
	text-shadow: 2px 2px 3px #000;
}
#matrix-content {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	z-index: 10;
	transform: translate(0,-50%);
}
#show-variables {
	color: #eeeeee;
	text-transform: uppercase;
	text-decoration: none;
}
.block-alxs-matrix-alxs-matrix-rain {
	height: 100%;
	width: 100%;
	top: 0;
}
#matrix-rain {
	width: 100%;
	max-width: 100%;
	position: relative;
	height: 100%;
}
#main {
	position: relative;
	padding: 1em;
	background-color: #eeeeee;
	box-sizing: border-box;
	width: 100%;
	color: #663399;
}
#hide-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 2rem;
	text-align: center;
}
#hide-wrapper .fa {
	display: block;
}
#hide-matrix {
	color: #eeeeee;
	margin-left: auto;
	margin-right: auto;
	bottom: 50px;
	text-transform: uppercase;
	font-weight:600;
	text-decoration: none;
}
#debug-tools {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	width: 12rem;
	padding: 0;
	background-color: #eeeeee;
}
#debug-tools a {
	text-align: center;
	display: block;
	border-radius: 5px;
	color: #eeeeee;
	background-color: #663399;
	padding: 0.25rem 0.9rem;
	font-size: 0.85rem;
	margin: 0.5rem;
	text-decoration: none;
	text-transform: uppercase;
}